<h1 align = center>PART 1: UNDERSTANDING AND VISUALIZING DATA</h1>

# 1. Understanding Data

## 1.1 Statistics: Definition
- Methodological: tools and methods for working with and understanding data.
- Statisticians: apply and develop data analysis methods, seek to understand their properties.
- Researchers and workers: apply and extend statistical methodology, and contribute new ideas and methods for conducting data analysis.

__A Statistic and the field of Statistics__:
- A statistic: numerical or graphical summary of a collection of data. 
    - Average score on final exam
    - Minimum temperature at a location over year
    - Proportion of people who are retired
- Statistics: academic discipline focusing on research methodology. Statisticians develp new statistical tools, calculate statistics from data, and collaborate with subject-mater experts to interpret them. 

__The Landscape of Statistics__:
Evolving and dynamic field ~ Emerging challanges and opportunities: 
- Properties of statistical methods are under continuing study. 
- New application areas -> development of new analytic methods. 
- New types of sensors -> new types of data
- Advances in computing -> sophisticated analyses on Big Data

__Statistics and its Allied Fields__: 
- __Computer Science__
    - algorithms, data structures for working with data, programming languages for manipulating data
- __Mathematics__
    - language and notation for expressing statistical concepts concisely, tools for understanding properties of statistical methods
- __Probability Theory__
    - branch of mathematics ~ crucial part of foundations of statistics - to express ideas about randomness and uncertainty
- __Data Science__
    - database management, machine learning, computational infrastructure to carry out data analysis.
- __Artificial Intelligence__
    - Statistics now is a major linchpin in research and industry. A number of different emerging applications include:
        - Computer Vision
        - Automated Driving
        - Recommender system
        - Precision medicine
        - Fraud Detection
        - Job training and behavioral therapy
        - etc.

## 1.2 Statistics: Perspectives

__The Art of Summarizing__

- Data can be overwhelming
- Making sense of data usually involves reduction and summarization
    - reduction: make a dataset comprehensible to human observer
    - summarization: always depends primarily on goals of __data consumer__ to be meaningful -- many approaches
    
__Science of Uncertainty__
- Data can be misleading.
- Statistics provides framework for assessing whether claims based on data are meaningful. 
- Uncertainty is inevitable, but it is highly desirable to quantify how far our reported findings may fall from __the truth__. 
- I.e. many public opinion polls report results along with a margin of error to provide an idea of what that potential discrepancy wll be between the reported and the actual states of public opinion.

__Science of Decisions__
- Understanding data is important -> only consequential if we act on what we have learned.
- __Desicion-making__ = ultimate goal of any statistical analysis.
- We make decisions in face of __uncertainty!__
    - What are costs and benefits of different approaches? 
    
__Science of Variation__
- Often focus on most typical or __central__ value.
    - i.e. Average American has around \$6000 of credit card debt (central value of credit card debt in US population)
- Great emphasis on understanding __variation__ in data!
    - i.e. 10% of Americans have more than $30,000 in credit card debt (variation of credit card in US population)

__Art of Forecasting__
- Forecasting or prediction = central tasks in statistics
- Cannot know future with absolute certainty, but efficient use of available data
    - it can sometimes make accurate predictions about future!
    
__Science of Measurement__
- __High accuracy__: person's age or height
- __More difficult__: blodd pressure (varies in minute to minute)
- __Harder__: "mood", "political ideology", "personality"

__Basis for Principled Data Collection__
- Data often expensive and difficult to collect
- Resource limitations -> collect least data possible
- __Statistics__: provides a rational way to manage this tread-off

## 1.3 Where Do Data Come from?

__Data can be:__ 
- numbers
- images
- words
- audio

__Two key types of Data:__
- __Organic / Process Data__
    - Generated by a computerized information system (from image/audio recordings), ie:
        - Financial or Point-of-sale transactions/Stock market exchanges, 
        - Netflix viewing history, 
        - Web browser activity, 
        - Sporting event
        - Temperature/pollution sensors
    - These processes generate massive quantities of data -> __Big Data__
    - Processing requires significant computational resources; data scientist "mine" these data to study trends and uncover interesting relationship.
    
    
- __"Designed" Data Collection__
    - Designed to specifically address astated research objective
        - Individuals sampled from a population, interviewed about opinions on a particular topic.
    - Common features of "designed" data: 
        - __Sampling from populations__ - administration of carefully designed questions.
        - Typically __data sets much smaller__ compared to organic/process data sets.
        - __Data collected for very specific reasons__, rather than simple reflections of ongoing natural process.

__Are the Data i.i.d?__
- For analyzing data, regardless of source, an important questions: 
    - __Can the data be considered i.i.d?__
        - i: __independent__ -> all observations are independent of all the other observations (there are no correlations)
        - id: __identically distributed__ -> the values that we're looking at are all arising from some common statistical distribution
    - i.e.: __Final exam scores__ from a large class at a university are __independent observations__ from a __common normal distribution__.
        - Each student is treated independently that are coming from a common normal distribution, we look at the entire distribution of exam scores it might look like this kind of bell-shaped curve.


- __If yes__, we can inspect the features of that distribution and make inference about those features:
    - mean, variance, extreme percentile. 
    - the overall mean in a population, the overall extreme percentile of a population.
    

- __If not__? These are the example scenarios: 
    - Students sitting next to each other tend to have similar scores
    - Males and females might have different means
    - Students form same discussion sections may have similar scores

> Conclusion: __Dependencies and differences need to be accounted for in analysis!__ -> Need different analytic procedures

## 1.4 Variable Types

For this material, we will look at the __NHANES__ Data (National Health and Nutrition Examination Survey) to assess the health and nutrition of children and adults in the US. 

__Quantitative Variables__
- Numerical, measurable quantities in which arithmetic operations often make sense.
    - __Continuous__ - could take on any value within an interval, many possible values
    - __Discrete__ - countable value, finite number of values


__Qualitative (Catagorical) Variables__
- Classifies individuals or items into different groups.
    - __Ordinal__ - groups have an order or ranking (Senior/junior, January/February/. . ., etc)
    - __Nominal__ - groups are merely names, no ranking (race, etc)

In [29]:
import pandas as pd
data = [[22, 'yes'], [14, 'no'], [44, 'yes'], [14, 'no'], [30, 'yes']]
df_ex = pd.DataFrame(data, columns = ['age', 'adult'])
df_ex

   age adult
0   22   yes
1   14    no
2   44   yes
3   14    no
4   30   yes

In [30]:
df_ex['adult_num'] = df_ex['adult'].apply(lambda x: 1 if x == 'yes' else 0)
df_ex

   age adult  adult_num
0   22   yes          1
1   14    no          0
2   44   yes          1
3   14    no          0
4   30   yes          1

- Notice that we can take an average of the `age` in our sample, but we cannot take an average of `adult_num` because it does not make sense to have continuous number in adult_num variable because simply the adult is categorical variable.


- Now, let's connect these variable types to the __data types in python__

### 1.4.1 Data Types in Python

#### Numerical or Quantitative
>  _Taking the mean make sense!_
- Discrete
    - Integer (int) # Stored exactly
- Continuous
    - Float (float) # Stored simirarly to scientific notation representation. Allos for decimal places, but loses precision.

__Integer__

In [37]:
type(4)

int

In [38]:
type(0)

int

In [39]:
type(-3)

int

In [44]:
# Try taking the mean

import numpy as np
numbers = [2,3,4,5]
print(sum(numbers)/len(numbers))
print(np.mean(numbers))
type(sum(numbers)/len(numbers))

3.5
3.5

float

__Float__

In [45]:
3/5

0.6

In [52]:
type(3/5)

float

In [51]:
print(np.round(6*10**(-1), 1))
print(6*10**(-1))

0.6
0.6000000000000001

You can see if we don't round it, we will have a bunch of zeros. This is how floats are stored in our machine.

In [54]:
type(6*10**(-1))

float

In [55]:
np.pi

3.141592653589793

In [56]:
type(np.pi)

float

In [57]:
type(4.0)

float

Although 4.0 is a whole number, because we've said to store this to account a decimal point, then the type of it also a float.

#### Categorical or Qualitative
> _Taking the mean does not make sense!_
- Nominal
    - Boolean (bool)
    - String (str)
    - None (Nonetype)
- Ordinal
    - Only defined by how you use the data
    - Often important when creating visuals
    - Lists can hold ordinal information because they have indices

__Boolean__

In [58]:
# Boolean
type(True)

bool

In [62]:
# Boolean
if 6 < 5:
    print('Yes :)')
else: 
    print('No :(')

No :(

In [63]:
myList = [True, 6<5, 1==3, None is None]
for element in myList: 
    print(type(element))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [65]:
print(sum(myList)/len(myList))
type(sum(myList)/len(myList))

0.5

float

Since boolean holds value of 0 for `False` and 1 for `True`, the mean above isn't necessarily the mean of `myList`, but the mean of how many are true vs how many are false.

__String__

In [66]:
type("this is a string")

str

In [68]:
type("3.5")

str

In [67]:
strList = ['dog', 'koala']
type(strList)

list

__Nonetype__

In [69]:
# None
type(None)

NoneType

In [70]:
x = None
type(None)

NoneType

__Lists__

A list can hold many types and can also be used to strore ordinal information.

In [72]:
myList = [1,1.1, "This is a sentence", None]
for element in myList: 
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [74]:
myList = ['third', 'first', 'medium', 'small', 'large']
myList[0]

'third'

In [76]:
myList.sort()
myList

['first', 'large', 'medium', 'small', 'third']

## 1.5 Study Design
__Examples__:
- __Clinical__ trials for drugs and other medical treatments
- __Reliability__ and __quality-assurance__ studies for manufactured products
- Observational studies for __human health__
- __Public opinion__ and other surveys
- Studies involving __administrative__ and other incidental data
- __Market research__ studies
- __Agricultural__ field trials

__Types of Research Studies__:
- __Exploratory__ vs __Confirmatory__ studies
    - <u>Confimatory</u>: scientific method ~ specify __falsifiable hypothesis__, then test it -> collect data to address single pre-specified question.
    - <u>Exploratory</u>: collect and analyze data without first pre-specifying question.
    
    Note: informative but __watch out__ for __"overfitting"__, __"multiple testing"__, __"p-hacking"__. The more questions you ask from a dataset, the more likely you are to draw a misleading conclusions.
    
    
- __Comparative__ vs __Non-Comparative__ studies
    - <u>Comparative</u>: goal -> __contrast__ one quantity to another ~ many research studies are comparative in nature.
    - <u>Non-Comparative</u>: focus -> __estimating__ or __predicting__ absolute quantities ~ not (explicitly) comparative.
    
    
- __Observational__ vs __Experiments__ studies
    - <u>Observational</u>: arise "naturally", contrasts based on "self-selection" of units into groups. It often says subjects are "exposed" to a condition rather than being "assigned" _(passive or self-selected, used when impractical or unethical to assign)_.
        - to identify the health effects such as lifespan, lung cancer status between smokers vs non-smokers
        - to identify the impact on teaching experience on student learning by comparing standardized test scores betwen students that are in classrooms with teachers that have less experience to the scores for students in classrooms where the teachers have more experience.
    - <u>Experiments</u>: involve manipulation or random assignmnet of subject to "treatment arms" -> experimenter deliberately treats different units in different ways.
        - to compare the yield of lettuce in fields that are treated with and without fertilizer.
        - to assess whether people are more likely to click on one of two versions of an online ad, we can randomly expose people one version or the other and then compare those click rates. 
        

__Power and Bias__
- __Power Analysis__: 
    - Process to assess whether given study design likely to yield meaningful findings. 
- __Bias__: 
    - Measurements that are systematically off-target, or sample is not representative of population of interest. _Observational studies are especially vulnerable to it._

## 1.6 Python Libraries and Data Management

__Libraries__


Python, like other programming languages, has an abundance of additional modules or libaries that augment the base framework and functionality of the language. 

Think of a library as a collection of functions that can be accessed to complete certain programming tasks without having to write your own algorithm. 

For this course, we will focus primarily on the following libraries: 
- __Numpy__ is a library for working with arrays of data. 
- __Pandas__ provides high-performance, easy-to-use data structures and data analysis tools.
- __Scipy__ is a library of techniques for numberical and scientific computing.
- __Matplotlib__ is a library for making graphs.
- __Seaborn__ is a higher-level inteface to Matplotlib that can be used to simplify many graphing tasks.
- __Statsmodels__ is a library that implements many statistical techniques.

In [77]:
import pandas as pd
import numpy as np

In [79]:
a = np.array([0,1,2,3,4,5,6,7,8,9,10])
np.mean(a)

5.0

__Data Management__

Data management is a crucial component to statistical analysis and data science work. The following code will show you how to import data via the pandas library, view your data, and transform your data.

The main data structure that Pandas works with is called a __Data Frame__. This is a two-dimensional table of data in which the rows typically represent cases (i.e. Cartwheel Contest Participants) and the columns represent variables. Pandas alos has a one-dimensional data structure called a Series that we will encounter when accessing a single column of a Data Frame.

Pandas has a variety of functions named `read_xxx` for reading data in different formats. Right now we will focus on reading _csv_ files, which stands for comma-separated values. However, the other file formats include excel, json, and sql just to name a few.

This is a link to the csv file we wil be exploring in this tutorial: [Cartwheel Data](https://github.com/jmschaff/Introduction-to-Data-Science-in-Python-Coursera/blob/master/Cartwheeldata.csv)

In [84]:
# store the url string that hosts our .csv file
url = 'https://raw.githubusercontent.com/jmschaff/Introduction-to-Data-Science-in-Python-Coursera/master/Cartwheeldata.csv'

# Read the .csv file and store it as pandas data frame
df = pd.read_csv(url)

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [85]:
# We can view the first 5 rows of our data frame by calling the head() function
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [86]:
# View all rows in our data frame
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

As you can see, we have a 2-Dimensional object where each row is an independent observation of our cartwheel data. 

To gather more information regarding the data, we can view the column names and data types of each column with the following functions:

In [114]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')